  <aside class="authentication-column" >
    <h1 class="authentication-title">SIGN-UP</h1>
    <form class="authentication-form">
      <div class="authentication-input">
        <label>Phone</label>
        <input id="authentication-signup-phone" type="text" placeholder="(xxx) xxx-xxxx" required>
      </div>
      <div class="authentication-input">
        <label>New Password</label>
        <input id="authentication-signup-password" type="password" required>
      </div>
      <div class="authentication-input">
        <label>First Name</label>
        <input id="authentication-signup-firstname" type="text" required>
      </div>
      <div class="authentication-input">
        <label>Last Name</label>
        <input id="authentication-signup-lastname"  type="text" required>
      </div>
      <div class="authentication-input">
        <label>Email</label>
        <input id="authentication-signup-email" type="text" required>
      </div>
      <div class="authentication-input">
        <button id="authentication-signup-submit" type="submit">Sign Up</button>
      </div>
    </form>
  </aside>
  <script src="/javascript/signup.js"></script>