<div class="flex-container flex-row">
    <div class="flex-container flex-column appointment-booking">
        <button class="appt-submit-btn" id="customer-btn">Customers</button>
        <button class="appt-submit-btn" id="product-btn">Products</button>
        <button class="appt-submit-btn" id="salesperson-btn">Salespersons</button>
    </div>
    <div class="appointment-customer-history">
        <div id="customer-section"></div>
        <div id="product-section"></div>
        <div id="salesperson-section"></div>
    </div>
</div>
<script src="/javascript/apiRequest.js"></script>  
