<div class="flex-container flex-row">
    <div class="appt-submit-div">
        <button class="appt-submit-btn" id="customer-btn">Customers</button>
        <button class="appt-submit-btn" id="product-btn">Products</button>
        <button class="appt-submit-btn" id="salesperon-btn">Salespersons</button>
    </div>
    <div id="customer-section"></div>
    <div id="product-section"></div>
    <div id="salesperson-section"></div>
</div>
<script src="/javascript/apiRequest.js"></script>  
