<!-- Registration-->
<div class="flex-container flex-row authentication-container">
  <aside class="authentication-column" >
    <h1 class="authentication-title">LOGIN as ADMIN</h1>
    <div class="authentication-form">
      <div class="authentication-input">
        <label>Email</label>
        <input id="authentication-login-email" type="text" placeholder="test@test.com" required>
      </div>
      <div class="authentication-input">
        <label>Password</label>
        <input id="authentication-login-password" type="password" required>
      </div>
      <div class="authentication-input">
        <button id="authentication-login-submit">Login</button>
      </div>
    </div>
  </aside>
</div>

<script src="/javascript/login.js"></script>