.authentication-column {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 20px;
}

.authentication-title {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #02443A;
  padding: 10px 0;
  text-align: center;
  font-size: 40px;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  color: #f7be94;
}

.authentication-form {
  background-color: #96ceb4;
  padding: 10px 20px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.authentication-input {
  display: block;
  margin-top: 10px;
  margin-bottom: 25px;
}

.authentication-input label {
  font-size: 20px;
  font-family: 'Urbanist', sans-serif;
}

.authentication-input input {
  float: right;
  padding: 3px 10px;
  font-size: 20px;
  width: 60%;
}

.authentication-input button {
  cursor: pointer;

  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  color: black;
  background-color: #f7be94;

  border-style: solid;
  border-radius: 5px;
  border-width: 0.5px;
  border-color: black;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;

  margin-top: 5px;
}

.authentication-input button:hover {
  background-color: #e2bb9e;
}

@media screen and (min-width: 1000px) {  
  .authentication-column {
    width: 45%;
    margin-bottom: 20px;
  }
}